* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: black;
    /* overflow-y: hidden; */
}

.scroll-on {
    overflow-y: scroll;
}

/* NAV LOGIC */

header {
    position: fixed;
    top: 0;
    width: 100%;
}

header nav {
    display: flex;
    background: #417a9b;
    color: #e6e3e3;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

nav .nav-menu {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

header nav ul li a:hover {
    color: #cfcece;
    text-decoration: none;
    font-size: 0.5cm;
}

header nav ul li a {
    color: #cbcbcb;
    text-decoration: none;
    font-size: 0.5cm;
}

/* MIDDLE LOGIC */

.middle {
    background-color: #1B2838;
    color: #cfcece;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.middle .middle-right {
    max-width: 39rem;
    padding: 0.9rem 8%;
}

.middle .middle-left {
    max-width: 39rem;
    padding: 0.9rem 8%;
}

.middle .middle-center {
    max-width: 39rem;
    padding: 0.9rem 8%;
}

.middle-right  h1{
    text-shadow: 1px 1px 3px rgba(54, 15, 15, 0.5);
    font-size: 2.5em;
}

.middle-right p {
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.middle-center  h1{
    text-shadow: 1px 1px 3px rgba(54, 15, 15, 0.5);
    font-size: 2.5em;
}

.middle-center p {
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

  .middle-left  h1{
    text-shadow: 1px 1px 3px rgba(54, 15, 15, 0.5);
    font-size: 2.5em;
}

.middle-left p {
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* PAGE LOGIC */

.home-desc {
    transition: all 1s linear
}

.about-desc {
    transition: all 1s linear
}

.contact-desc {
    transition: all 1s linear
}

.project-list {
    left: 10%;
    width: 100%;
    position: fixed;
    top: 10%;
    transition: all 1s linear;
}

.list-frame {
    width: 600px;
    height: 100vh;
    border: none;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.vaguelyhidden {
    opacity: 0;
}

/* LIST LOGIC */

.list-title {
    padding-bottom: 5px;
}

.list-title h1 {
    color: white;
    font-size: 26px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.list img {
    width: 64px;
    height: 64px;
    margin: 4px;
}

.list li {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.project-desc {
    padding-left: 1%;
}

.project-desc p {
    margin: 0;
}

/* .list li .project-desc {
    justify-content: space-between;
} */